// 主要功能，隨著裝置變更行高以及大小
// 最後一個 function 自動偵測需求的版面大小，做自適應大小

// Function
@function vw($value) {
    $value: 100 * $value / $rwdS;
    @return $value+vw;
    // @return $value + vmin;
}

// @function vmin($value) {
//     $value: 100 * $value / $rwdS;
//     @return $value + vmin;
// }

@function vwM($value) {
    $value: 100 * $value / $rwdM;
    @return $value+vw;
}

@function vmin($value) {
    $value: 100 * $value / ($rwdM + 0);
    @return $value+vmin;
}

@function vwL($value) {
    $value: 100 * $value / $rwdL;
    @return $value+vw;
}

@function vwX($value) {
    $value: 100 * $value / $rwdX;
    @return $value+vw;
}

@function vw2X($value) {
    $value: 100 * $value / $rwd2X;
    @return $value+vw;
}

@function vhX($value) {
    $value: 100 * $value / (1080 + 0);
    @return $value+vh;
}

@function lineHeight($fontSize, $lineHeight) {
    $value: $lineHeight / $fontSize;
    @return $value;
}

// Mixin
// TODO:變數錨點，會加入不同的樣式（不需帶參數）
// min-width 可以自己更改，當前需要的版面大小
@mixin hover {

    @media (hover: hover) and (min-width: #{$rwdM + 1}px) {
        @content;
    }

}

// TODO:RWD （可以自定義 max-width）
@mixin lt($value) {

    @media (max-width: #{$value}px) {
        @content;
    }

}

@mixin tablet {

    @media (max-width: $tablet) {
        @content;
    }

}

@mixin mobile {

    @media (max-width: $mobile) {
        @content;
    }

}

@mixin landscape {

    @media (max-width: $tablet) and (orientation: landscape) {
        @content;
    }

}

// TODO:消失效果
@mixin hide-text {
    font-size: 0;
    text-indent: -5000px;
}

// TODO:水平跳動
@mixin scale-x {
    display: inline-block;
    transform: scaleX(0.9);
}

// TODO:垂直跳動
@mixin scale-y {
    display: inline-block;
    transform: scaleY(0.9);
}

// TODO:文字背景漸層（類似彩虹）
@mixin text-gradient {
    background: linear-gradient(0deg, rgba(239, 166, 1, 1) 0%, rgba(239, 166, 1, 1) 47%, rgba(255, 222, 0, 1) 48%, rgba(255, 222, 0, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


// TODO:加粗陰影
@mixin stroke($color: #000, $size: 1px) {
    text-shadow: -#{$size} -#{$size} 0 $color,
    0 -#{$size} 0 $color,
    #{$size} -#{$size} 0 $color,
    #{$size} 0 0 $color,
    #{$size} #{$size} 0 $color,
    0 #{$size} 0 $color,
    -#{$size} #{$size} 0 $color,
    -#{$size} 0 0 $color;
}

// TODO:漸進消失
@mixin moveFadeDefault($props: (transfrom, opacity), $dur: $secondaryDuration, $delay: 0s, $ease: ease-out, $value: 30%) {
    will-change: $props;

    @if $props==(transfrom, opacity) {
        transform: translateY($value);
    }

    @else if $props==(margin, opacity) {
        margin-top: $value;
    }

    opacity: 0;
    transition-property: $props;
    transition-duration: $dur;
    transition-delay: $delay;
    transition-timing-function: $ease;
}

// TODO:
@mixin moveFadeIn($props: transform) {
    @if $props==transfrom {
        transform: translateY(0);
    }

    @else if $props==(margin) {
        margin-top: 0;
    }

    opacity: 1;
}

// TODO:點擊大幅跳動
@mixin scaleDefault {
    transition: all $primaryDuration ease-out;
    transition-property: opacity, transform;
    transform: scale(0) translateZ(0);
    opacity: 0;
    backface-visibility: hidden;
    will-change: transform, opacity;
    -webkit-transition: all $primaryDuration ease-out;
    -moz-transition: all $primaryDuration ease-out;
    -ms-transition: all $primaryDuration ease-out;
    -o-transition: all $primaryDuration ease-out;
}

// TODO:不知道是什麼動畫
@mixin scaleIn {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}