// RWD Breakpoints
$rwdS: 750;
$rwdM: 768;
$rwdL: 1200;
$rwdX: 1600;
$rwd2X: 1920;

// Devices
$mobile: $rwdS + px;
$tablet: $rwdM + px;

// Font
$font-8-bit: 'EditUndo', cursive;

// Color
$color-black: #000000;
$color-gray: #cbcbcb;
$color-darkgray: #969696;
$color-white: #ffffff;
$color-yellow: #f5ea49;

// Duration

$primaryDuration: .2s;
$secondaryDuration: .35s;

// Ease

$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);

