@import '_variables';
@import '_mixins';


// @mixin vw($mobile) {
//     color: $color-black;
// }

$wide: '(min-width: 1800px)' !default;
$desktop: '(min-width: 1200px)' !default;
$tablet-landscape: '(min-width: 900px)' !default;
$tablet-protrait: '(min-width: 600px)' !default;
$phone: '(max-width: 600px)' !default;

// @mixin media($query:$wide) {
//     @media #{$query} {
//         @content
//     }
// }

// @include media($wide) {
//     #container {
//         >.card {
//             width: 50%;
//         }
//     }
// }

.page {
    text-align: center;
}


// 標題下底線
.card-title-section {
    .title-underline {
        &::before {
            content: "";
            position: absolute;
            left: 50;
            transform: translate(-50%);
            width: 30px;
            height: 2px;
            background-color: #000;
        }
    }
}

#star {
    &::before {
        content: '\2605';
    }
}