@import '_variables';
@import '_mixins';

.page {
    text-align: center;
}

// 標題下底線
.card-title-section {
    .title-underline {
        &::before {
            content: "";
            position: absolute;
            left: 50;
            transform: translate(-50%);
            width: 30px;
            height: 2px;
            background-color: #000;
        }
    }
}

#star {
    &::before {
        content: '\2605';
    }
}